fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt
psycopg2-binary
email-validator
langchain
langchain-groq
langchain-core
langchain-community
langchain-text-splitters
langgraph
faiss-cpu
PyPDF2
tiktoken